@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

.container {
  margin: 0 auto;
}

.about01 {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  gap: 40px;
}

.text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one img {
  width: 287px;
  height: auto;
}

.one h1 {
  font-size: 36px;
  text-align: start;
  width: 552px;
}
.text2 {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  color: black;
  font-size: 16px;
}
.one p {
  margin-top: 27px;
}

.one h3 {
  font-size: 16px;
  text-align: center;
}

.btn {
  display: flex;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 234px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  margin-top: 36px;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.alt {
  text-decoration: none;
}

/* Responsive design for smaller screens */

@media (max-width: 992px) {
  .one img {
    width: 100%;
  }
  .one {
    gap: 60px;
    flex-direction: column;
  }
  .text {
    text-align: center;
    width: 100%;
  }
  .image {
    width: 100%;
  }

  .one h1 {
    text-align: center;
    margin: 0 auto;
  }

  .btn {
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .one h1 {
    font-size: 28px;
    text-align: center;
    width: auto;
  }
  .one p {
    width: 385px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .one h3 {
    font-size: 14px;
  }
}

/* Responsive design for screens with a maximum width of 425px */
@media (max-width: 425px) {
  .one {
    flex-direction: column;
    gap: 53px;
  }
  .one h1 {
    font-size: 24px;
    text-align: center;
  }
  .one p {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
  }
  .btn {
    margin: 0 auto;
  }
}

/* Responsive design for screens with a maximum width of 375px */
@media (max-width: 375px) {
  .one h1 {
    font-size: 20px;
    text-align: center;
  }
  .one p {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
  }
  .btn {
    margin: 0 auto;
  }
}

/* Responsive design for screens with a maximum width of 325px */
@media (max-width: 325px) {
  .one h1 {
    font-size: 18px;
    text-align: center;
  }
  .one p {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
  }
}
