@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gal {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.gal_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
  max-width: 1200px;
  margin-top: 86px;
}

.gal_2 {
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.gal_2 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.gal_2:hover img {
  transform: scale(1.05);
}

.gal_4 {
  margin-top: 20px;
  font-family: Montserrat;
}
.gal_5 {
  text-decoration: none;
}
.gal_6 {
  display: flex;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 79px;
  border-radius: 8px;
  outline: none;
  z-index: -1010;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  margin-top: 36px;
  margin-bottom: 20px;
}
.gal_2:hover button {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.show {
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .gal_2 {
    flex: 0 0 calc(50% - 20px);
    height: auto;
  }
  .gal_1 {
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .gal_2 {
    flex: 0 0 100%;
    margin-bottom: 20px;
    height: auto;
  }
  .gal_6 {
    margin-left: 20px;
  }
}

/* Large screens */
@media screen and (min-width: 1200px) {
  .gal_1 {
    gap: 40px;
  }

  .gal_2 {
    flex: 0 0 calc(25% - 20px);
  }
}
