/* carousel.module.css */

.skill {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.one {
  width: 100%;
  max-width: 340px;
}

.container {
  position: relative;
  overflow: hidden;
}

.zero {
  display: flex;
  width: 300%;
      height: 250px;
}

.slide {
  flex: 0 0 33.333%;
  transition: transform 0.3s ease;
  border: 2px solid rgb(2, 4, 44);
}

h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text_list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.text_list li {
  margin-bottom: 8px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-decoration: none;
  z-index: 1010;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.right {
  width: 200px;
  height: auto;
}




/* Media queries for responsiveness */

@media screen and (max-width: 600px) {
  
  .skill {
    max-width: 100%; 
  }

  .one {
    max-width: 100%; 
  }

  .zero {
    width: 200%;
  }
  .slide {
    flex: 0 0 50%;
  }

  .right {
    width: 150px; 
  }
}
