/* Contact.module.css */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
.contact {
  background-color: #f4f4f4;
}

.container {
     max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;  
}

.one {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.two {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
.link a img {
  margin-top: 12px;
  width: 30px;
}

.text {
  text-align: center;
  width: 100%;
}
.name{
  font-size: 40px;
  font-weight: 200;
}
.text h4{
  font-family: 'Crimson Text', serif;
  font-family: 200;
  font-size: 12px;
}

.logo_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-right: 187px;
    gap: 70px;
}

.menu {
  width: 33.333%;
}

.three {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{  
        display: flex;
        flex-direction: column;
    }
.five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    gap: 22px;
}

.five li{
  color: black;
  font-weight: 600;
}
.btn {
  border-radius: 8px;
  background: #06f;
  color: white;
}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.contact1 h1{
  text-align: center;
   font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 36px;
}
.link_text a{
  color: black;
  margin-bottom: 12px;
  text-decoration: none;
}
.link_text a:hover{
  text-decoration: underline;
}
.five a{
  text-decoration: none;
}
.link_text{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px){
  .logo_text{
    margin-right: 0;
  }
}
@media (max-width: 992px) {
      .three{
        width:300px
      }
      .input input{
        width: 200px;
      }
      
      .logo_text {
        margin-right: 0;
      }
}

@media (max-width: 768px) {
  .link {
    max-width: 100%;
  }

  .menu ul {
    text-align: center;
  }
}

@media (max-width: 425px) {
    .container{
        height: 700px;
    }
    .logo_text{
    margin-right: 0;
    gap: 20px;
    }
  .two {
    flex-direction: column;
  }
    .one{
      flex-direction: column;
    align-items: center;
     }
  .link a img {
  width: 30px;
  margin-top: 12px;
}
    .text h1{
        margin-top: 20px;
    }
    .three{
        margin-top: 20px;
    }
    .menu{
        margin-top: 20px;
    }
  .menu ul {
    margin-top: 10px;
  }
  .three{
    width: 355px;
  }
    .name{
  font-size: 50px;
  font-weight: 200;
}
}
@media (max-width: 320px){
  .contact{
    width: 320px;
  }
  .name{
  font-size: 34px;
  font-weight: 200;
}
  .three{
    width: 320px;
  }
  .input{
    width: 300px;
  }
  .input input{
    width: 320px;
  }
  .link{
    gap: 20px;
  }
}