/* Portfolio.module.css */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

.portfolio {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.text h1 {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-weight: 300;
}

.second {
  display: flex;
  justify-content: center;
  height: 260px;
  gap: 50px;
}

.second img {
  width: 236px;
  height: 200px;
}

.image {
  transition: filter 0.3s;
}

.image:hover {
  transition: 0.2s;
  transform: translateY(-10px);
}


/* Media queries for responsive design */
@media (max-width: 992px) {
  .second img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .second img {
    width: 100%; 
  }
  .portfoli {
    margin-top: 200px;
  }
}

@media (max-width: 480px) {
  .second img {
    width: 100%;
    height: auto;
  }
  .second {
    flex-direction: column; /* Change flex-direction to column on screens with max-width: 480px */
    height: auto;
    justify-content: center;
    align-items: center;
  }
}
