@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.skill {
  background-color: #fff;
}
.container {
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.title h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.one {
  display: flex;
  flex-direction: column;
  height: 708px;
  gap: 8px;
}
.zero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 40px;
}
.text_list {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.six {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-around;
}

.seven {
  width: 100%;
  height: 280px;
}
.three:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-2px);
}

.second h1 {
  font-size: 25px;
}
.text_list {
  margin-top: 8px;
  text-align: center;
}
.text_list li {
  margin-bottom: 4px;
}
.myClass {
  height: 220px;
}
.image {
  text-align: center;
}
.image h3 {
  font-weight: 300;
  font-family: "Crimson Text", serif;
  margin-top: 16px;
}
.image img {
  margin-top: 20px;
  width: 50%;
}

/* media Query */

@media (max-width: 1440) {
  .image img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .skill {
    height: 920px;
  }

  .zero {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .three {
    width: 43%;
  }
  .six {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }
  .second h1 {
    font-size: 20px;
  }

  .image h1 {
    font-size: 18px;
  }

  .image img {
    margin-top: 10px;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .second h1 {
    font-size: 22px;
  }
  .three {
    width: 43%;
  }
  .six {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }

  .three h1 {
    font-size: 20px;
  }
  .Main h1 {
    font-size: 20px;
  }
  .second h1 {
    font-size: 20px;
  }
  .image h1 {
    font-size: 20px;
  }

  .image img {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .three {
    height: 276px;
  }
  .three {
    width: 100%;
  }
  .six {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }
}
