@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.skill {
  background-color: #fff;
}
.container {
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 45px;
}
.title h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.one {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.zero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 40px;
}
.text_list {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.six {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-around;
}

.seven {
  width: 100%;
  height: 280px;
}
.three:hover {
  transform: translateY(-2px);
  border-radius: 20px;
  cursor: none;
}

.second h1 {
  font-size: 25px;
}
.text_list {
  margin-top: 8px;
  text-align: center;
}
.text_list li {
  margin-bottom: 4px;
}
.myClass {
  height: 220px;
}
.image {
  text-align: center;
}
.image h3 {
  font-weight: 300;
  font-family: "Crimson Text", serif;
  margin-top: 16px;
}

.skillimagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  flex-direction: column;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 86%;
  margin: 0 auto;
}

.main001 {
  width: 40px;
  margin-top: 17px;
}

.text {
  text-align: center;
}

/* experience */
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.jname_gal_01 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.jname_gal_02 {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.jcompany {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: left;
  margin-bottom: 4px;
}

.jname {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: start;
}

.btn {
  display: flex;
  padding: 11px 29px;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-size: 13px;
  width: 164px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  margin-top: 22px;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.jname_gal_03 {
  text-decoration: none;
}

.jname04 {
  text-align: left;
  font-size: 12px;
  margin-top: 6px;
}

/* media Query */

@media (max-width: 1440) {
  .image img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .second h1 {
    font-size: 22px;
  }
  .experience {
    width: 100%;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }

  .three h1 {
    font-size: 20px;
  }
  .Main h1 {
    font-size: 20px;
  }
  .second h1 {
    font-size: 20px;
  }
  .image h1 {
    font-size: 20px;
  }

  .image img {
    width: 100%;
    margin-top: 10px;
  }
  .jname_gal_01 {
    align-items: center;
  }
  .jname04 {
    text-align: center;
  }
  .jname {
    text-align: center;
  }
  .jcompany {
    text-align: center;
  }
  .btn {
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .skill {
    height: 920px;
  }

  .zero {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .experience {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }
  .second h1 {
    font-size: 20px;
  }

  .image h1 {
    font-size: 18px;
  }

  .image {
    gap: 9px;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .three {
    height: 276px;
  }
  .three {
    width: 100%;
  }
  .experience {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven {
    width: 100%;
    height: 210px;
  }
  .image img {
    margin-top: 10px;
    width: 100%;
  }
}
