@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.about {
  background: rgba(0, 0, 0, 0.02);
  padding-top: 45px;
  padding-bottom: 45px;
}

.skill {
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog {
  background: rgba(0, 0, 0, 0.02);
  padding: 20px;
}

.contact {
  border: 2px solid #0000008f;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
::-webkit-scrollbar {
  width: 0;
}
